<body>
  <%= render "shared/title" %>
  <% @users.each do |user| %>
    User Photo: <%= user.photo %>
    <%= link_to user_path(user.id) do %>
      User Name: <%= user.name %>
    <% end %>
    Posts Counter: <%= user.posts_counter %><br>
  <% end %>
</body>
</html>