<%= stylesheet_link_tag('user_show') %>

<body>
  <div class = "user">
    <img src=<%= "../#{@user.photo}" %> alt="user_photo" class="user_photo">
    <div class = "username">
      <p class="name"><%= @user.name %></p>
      <p class="post">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

  <div class="bio">
    <h2 class="namebio">BIO</h2>
    <p class="textbio"><%= @user.bio %></p>
  </div>

  <% @posts.each_with_index do |post, index| %>
    <div class = "posts">
      <p class = "postnumber">Post #: <%= post.id %></p>
      <p class = "posttext"><%= post.text %></p>
      <p class = "postcomments">Comments: <%= post.comment_counter %>, Likes: <%= post.like_counter %></p>
    </div>
  <% end %>

  <div class = "buttons">
    <%= link_to user_posts_path(@user.id) do %>
      <button>See all posts</button>
    <% end %>
    <%= link_to new_user_post_path(@user.id) do %>
      <button>New Post</button>
    <% end %>
    <%= link_to users_path do %>
      <button>Main Page</button>
    <% end %>
  </div>
</body>
</html>