<body>
  <%= render "shared/title" %>
    User Photo: <%= @user.photo %>
    User Name: <%= @user.name %>
    Number of Posts: <%= @user.posts_counter %><br>
    Bio: <%= @user.bio %><br><br>

  <% @posts.each_with_index do |post, index| %>
    Post #: <%= post.id %><br>
    <%= post.text %><br>
    Comments: <%= post.comment_counter %>
    Likes: <%= post.like_counter %><br><br>
  <% end %>

  <%= link_to user_posts_path(@user.id) do %>
    <button>See all posts</button>
  <% end %>
</body>
</html>