<body>
  <%= render "shared/title" %>
  User Photo: <%= @user.photo %>
  <%= @user.name %>
  Number of Posts: <%= @user.posts_counter %><br><br>

  <% @posts.each_with_index do |post, index| %>
    Post #: <%= post.id %><br>
    <%= post.text %><br>
    Comments: <%= post.comment_counter %>
    Likes: <%= post.like_counter %><br><br>
  
    <% @comments.each_with_index do |comment, index| %>
      <% if post.id == comment.post.id %>
        <%= @users.find(comment.author_id).name %>: <%= comment.text %><br>
      <% end %>
    <% end %>
    <br>  
  <% end %>

  <button>Pagination</button>
</body>
</html>