<%= stylesheet_link_tag('post_index') %>

<body>
  <div class = "user">
    <img src=<%= "../../#{@user.photo}" %> alt="user_photo" class="user_photo">
    <div class = "username">
      <p class="name"><%= @user.name %></p>
      <p class="post">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

  <% @posts.each_with_index do |post, index| %>
    <div class = "posts">
      <%= link_to user_post_path(@user.id, post.id) do %>
        <p class = "postnumber">Post #: <%= post.id %></p>
      <% end %>
      <p class = "posttext"><%= post.text %></p>
      <p class = "postcomments">Comments: <%= post.comment_counter %>, Likes: <%= post.like_counter %></p>
    </div>

    <% if post.comment_counter > 0 %>
      <div class = "comments">
        <% post.recent_comments.each do |comment| %>
          <p class = "commenttext"><%= @users.find(comment.author_id).name %>: <%= comment.text %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <button>Pagination</button>
</body>
</html>