<%= stylesheet_link_tag('post_show') %>

<body>
  <div class = "commentposttext">
    <div class = "postcommlike">
      <p class = "commentpost">Post #<%= @post.id %> by <%= @user.name %></p>
      <p class = "postcomments">Comments: <%= @post.comment_counter %>, Likes: <%= @post.like_counter %></p>
    </div>
    <p class = "postcommenttext"><%= @post.text %></p>
  </div>

  <div class = "comments">
    <% @comments.each do |comment| %>
      <p class = "commenttext"><%= @users.find(comment.author_id).name %>: <%= comment.text %></p>
    <% end %>
  </div>
</body>
</html>
